USE [master]
GO
/****** Object:  Database [ProjetoSocial]    Script Date: 29/05/2025 21:47:15 ******/
CREATE DATABASE [ProjetoSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoSocial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjetoSocial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoSocial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjetoSocial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoSocial]
GO
/****** Object:  Table [dbo].[ONGS]    Script Date: 29/05/2025 21:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONGS](
	[ID_ONG] [int] IDENTITY(1,1) NOT NULL,
	[ONG] [varchar](100) NOT NULL,
	[RESPONSAVEL] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[TELEFONE] [varchar](100) NOT NULL,
	[LOCAL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PS]    Script Date: 29/05/2025 21:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PS](
	[ID_PS] [int] IDENTITY(1,1) NOT NULL,
	[ID_VULNERAVEL] [int] NULL,
	[ID_SERVICO] [int] NULL,
	[ID_ONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICO]    Script Date: 29/05/2025 21:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICO](
	[ID_SERVICO] [int] IDENTITY(1,1) NOT NULL,
	[SERVICO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VULNERAVEIS]    Script Date: 29/05/2025 21:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VULNERAVEIS](
	[ID_VULNERAVEL] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[DATA_NASC] [date] NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VULNERAVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PS]  WITH CHECK ADD FOREIGN KEY([ID_ONG])
REFERENCES [dbo].[ONGS] ([ID_ONG])
GO
ALTER TABLE [dbo].[PS]  WITH CHECK ADD FOREIGN KEY([ID_SERVICO])
REFERENCES [dbo].[SERVICO] ([ID_SERVICO])
GO
ALTER TABLE [dbo].[PS]  WITH CHECK ADD FOREIGN KEY([ID_VULNERAVEL])
REFERENCES [dbo].[VULNERAVEIS] ([ID_VULNERAVEL])
GO
USE [master]
GO
